<h1 style="text-align: center;"><b>Contact Us</b></h1>
<hr>
<div class="contact">
    <section class="details">
        <img src="../assets/image/dial.png" alt="dial" height="30px">
        <p style="font-size: x-large;"><b>+91-9065993851</b></p>
        <hr>
        <img src="../assets/image/mail.jpg" alt="mail" height="70px">
        <p><b><a href="ankitkumaransh6667@gmail.com">Email Id</a></b></p>
        <hr>
        <p><b>Also Follow Us</b></p>
        <img src="../assets/image/social-media.jpg" alt="social media" height="80px">
        <hr>
        <img src="../assets/image/location.jpg" alt="location" height="50px">
        <p><b>Address</b> <br> Sareya Ward No.12 Yadavpur Road <br>Gopalganj Bihar (841428)</p>
    </section>

    <section class="info">
        <form class="row g-3 needs-validation" novalidate>
            <div class="col-md-4">
              <label for="validationCustom01" class="form-label">First name</label>
              <input type="text" class="form-control" id="validationCustom01" value="First Name" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-4">
              <label for="validationCustom02" class="form-label">Last name</label>
              <input type="text" class="form-control" id="validationCustom02" value="Last Name" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-4">
              <label for="validationCustomUsername" class="form-label">Username</label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  Please choose a username.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationCustom03" class="form-label">City</label>
              <input type="text" class="form-control" id="validationCustom03" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
            <div class="col-md-3">
              <label for="validationCustom04" class="form-label">State</label>
              <select class="form-select" id="validationCustom04" required>
                <option selected disabled value="">Choose...</option>
                <option>...</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid state.
              </div>
            </div>
            <div class="col-md-3">
              <label for="validationCustom05" class="form-label">Zip</label>
              <input type="text" class="form-control" id="validationCustom05" required>
              <div class="invalid-feedback">
                Please provide a valid zip.
              </div>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
          </form>
    </section>
    <section class="map">
        <h3>Google Map</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14284.5946721078!2d84.42779522815059!3d26.483157683029585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39931ace38b4be2b%3A0xed4849770012e298!2sGopalganj%2C%20Bihar%20841428!5e0!3m2!1sen!2sin!4v1649181475693!5m2!1sen!2sin" width="85%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</div>